<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
        <div class="login">
            <h1>Login</h1>
            <form action="{{ url_for('log') }}" method="post" autocomplete="off">
                <label for="username">Username
                    <i class="fa fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">Password
                    <i class="fa fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <p style="text-align: center;">Didn't have an account?<a href="{{ url_for('reg') }}"> Register</a> </p>
                <div class="msg">{{ msg }}</div>
                <button type="submit" id="demo">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>